

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root{
    --colorPrimary:black;
    --oneColor:rgb(203, 203, 203);
    --twoColor:white;
}
a{
    color: black;
    text-decoration: none;
}

body{
    height: 100vh;
    background-color: var(--oneColor);
}
#head{
    display: flex;
    justify-content: end;
    gap: 15px;
    padding: 10px;
}
.banner{
    display: flex;
    justify-content: space-around;
    height: 300px;
}
h3 {
    padding: 5px;
    margin: 5px;
}
.title{
    display: flex;
    background-color:var(--colorPrimary);
    width: 100%;
    color: white;
    padding: 10px;
    justify-content: space-between;
}
.title #Servicos{
    margin: 0 20px;
}
.title #Agenda{  
    display: flex;
    margin-right: 200px;
   
}
.titleSecundary{
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: var(--colorPrimary);
    color: var(--twoColor);
}

.marking{
    display: flex;
    margin: 10px 10px 0px 10px;
    justify-content: space-between;
}
.marking p{
    padding: 5px;
    margin: 5px;
}
#firstParagraph{
    justify-content: center;
    size: 100px;
    align-items: start;
}
#Menu{
    background-color: white;
    align-items: flex-end;
    margin: 10px;

}
.titleprimary{
    justify-content: end;
    
}
footer{
    background-color: var(--colorPrimary);
    color: white;
    display: grid;
    padding: 15px;
}



